.header__logo{
	top: 60px;
	left: 60px;
	z-index: 50;
	position: fixed;

	a{
		display: inline-block;
		text-decoration: none;
		position: relative;

		&:hover{
			text-decoration: none;
			span{
				transform: scale(1.5);
				@include transition(0.3s);
			}
		}

		span{
			width: 12px;
			height: 12px;
			border: 0px;
			border-radius: 50%;
			display: block;
			position: relative;
			background-color: black;
			@include transition(0.3s);
		}
	}
}

.header__cart{
	top: 60px;
	right: 60px;
	z-index: 50;
	position: fixed;

	button{
		font-size: calRem(14px);
		line-height: 1;
		text-transform: uppercase;
		border-radius: 0px;
		border: 1px solid transparent;
		margin: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		background-color: transparent;
		display: inline-flex;
		align-items: center;

		span{
			position: relative;
		}

		svg{
			width: 12px;
			fill: $color-text;
			top: -1px;
			position: relative;
			margin-left: 6px;
		}
	}
}