.page{
	width: 100%;
	position: relative;
	padding-top: 10em;
	padding-bottom: 10em;
}

.page__about{
	width: 100%;
	position: relative;

	h1{
		font-size: 3.5vw;
	}
}

.page__about__text{
	width: 100%;
	position: relative;
	@include middle;
	max-width: calc(100% - 33.33333%);
}

.page__about__thumb{
	width: 25%;
	height: 0px;
	top: 0%;
	right: 8.33333%;
	@include before;
	position: absolute;
	padding-top: 25%;
	overflow: hidden;
	background-color: $color-accent;

	// Animation
	clip-path: polygon(50% 20%,50% 20%,50% 80%,50% 80%);
	transition: clip-path 1.5s cubic-bezier(.395,0,.065,1.005),transform 2s cubic-bezier(.395,0,.065,1.005),-webkit-clip-path 1.5s cubic-bezier(.395,0,.065,1.005);

	// Animation
	&.is-animation{
		clip-path: polygon(100% 0,0 0,0 100%,100% 100%);
		transition: clip-path 1.5s cubic-bezier(.395,0,.065,1.005),transform 2s cubic-bezier(.395,0,.065,1.005),-webkit-clip-path 1.5s cubic-bezier(.395,0,.065,1.005);
	}
}

.page__about__image{
	@include full();

	figure{
		@include full();
	}

	img{
		width: 100%;
		height: auto;
		position: relative;
	}
}

//= ITEMS
.page__items{
	width: 100%;
	position: relative;
	padding-top: 10em;
}

.page__items__title{
	width: 100%;
	position: relative;
	margin-bottom: 4em;

	h2{
		font-size: calRem(34px);
		text-transform: uppercase;
		margin-bottom: 16px;
		position: relative;
	}

	button{
		width: auto;
		border: 1px solid transparent;
		border-radius: 0px;
		text-align: left;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		margin-top: 25px;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		background-color: transparent;

		&:hover{
			text-decoration: none;
			border: 1px solid transparent;
			background-color: transparent;

			svg{
				transition: all 0.5s cubic-bezier(.41,0,.13,1.005);
				transform: matrix(1, 0, 0, 1, 0,  -10) rotate(90deg);
			}
		}

		svg{
			width: 34px;
			fill: none;
			stroke: black;
			transform: rotate(90deg);
			position: relative;
			transition: all 0.5s cubic-bezier(.41,0,.13,1.005);
		}
	}
}

.page__row{
	@include flex-row();
}

.page__column{
	width: 100%;
	position: relative;
}

.page__item{
	cursor: pointer;
	height: 0px;
	position: relative;
	overflow: hidden;
	background-color: $color-accent;

	// Animation
	clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	transition: all .5s cubic-bezier(.67,0,.285,1);

	&:hover{
		// Animation
		clip-path: polygon(5% 10%,95% 0,95% 90%,5% 95%);
		transition: all .5s cubic-bezier(.67,0,.285,1);
	}

	&.item--1{
		width: 33.33333%;
		padding-top: 50%;
	}
	&.item--2{
		width: 50%;
		margin: 8em auto auto auto;
		padding-top: 33.33333%;
	}
	&.item--3{
		width: 33.33333%;
		margin: 8em 0 0 auto;
		padding-top: 50%;
	}
	&.item--4{
		width: 33.33333%;
		padding-top: 50%;
		margin-top: 8em;
	}
}